<div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
	
		<div class="col-12 col-lg-5">
				<h2 class="display-4 lh-1 mb-4">Concept</h2>
				<p class="lead fw-normal text-muted mb-5 mb-lg-0">
					ePages is managing your Google Merchant Center and Google Ads accounts on your behalf. Your products are uploaded to the Merchant Center. The Merchant Center account gets linked with the Ads account. In the Ads account campaigns get created and reports get fetched, so that you need nothing to do in the Ads account but setting up your billing information.
				</p>
		</div>
		<div class="col-sm-8 col-md-6">
				<img src="{{ "assets/img/gss-concept.png" | relURL }}" alt="..." />
		</div>
		
</div>
