<div class="container-fluid p-0">
  <div class="row no-gutters popup-gallery">
    <div class="col-lg-4 col-sm-2">
      <img class="screenshot" src="{{ "assets/img/screenshots/setup_de.png" | relURL }}" height="200px"/>
    </div>
    <div class="col-lg-4 col-sm-2">
      <img class="screenshot" src="{{ "assets/img/screenshots/productfeed_de.png" | relURL }}" height="200px"/>
    </div>
    <div class="col-lg-4 col-sm-2">
      <img class="screenshot" src="{{ "assets/img/screenshots/campaign_de.png" | relURL }}" height="200px"/>
    </div>
  </div>
</div>